<!-- footer HTML Start -->
<footer class="main-footer">
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4">
          <div class="footer-in">
            <h4>Address</h4>
            <p>National Health Authority</p>
            <p>3rd, 7th & 9th Floor, Tower - l, </p>
            <p>Jeevan Bharti Building,</p>
            <p>Connaught Place, New Delhi - 110 001</p>
            <p>E-mail : abdm@nha.gov.in</p>
            <p><i class="fa fa-phone" style="transform: rotateY(180deg); font-size: .75rem;"></i> Toll-Free Number : 1800-11-4477 / 14477</p>
          </div>
        </div>
  
        <div class="col-12 col-sm-4 col-md-4">
          <div class="footer-in">
            <h4>Important Links</h4>
            <ul>
              <li><a href="https://www.mohfw.gov.in/" target="_blank"><i class="fa fa-circle"></i>Ministry of Health and Family Welfare</a></li>
              <li><a href="https://healthid.abdm.gov.in/" target="_blank"><i class="fa fa-circle"></i>ABHA (Previously Health ID)</a></li>
              <li><a href="https://hpr.abdm.gov.in/en" target="_blank"><i class="fa fa-circle"></i>Healthcare Professionals Registry (HPR)</a></li>
              <li><a href="https://facility.abdm.gov.in/" target="_blank"><i class="fa fa-circle"></i>Health Facility Registry (HFR)</a></li>
              <li><a href="https://grievance.abdm.gov.in/" target="_blank"><i class="fa fa-circle"></i>Grievance Portal</a></li>
              <li><a href="https://pmjay.gov.in/ayushmancapf/resources" target="_blank"><i class="fa fa-circle"></i>Ayushman CAPF Resources</a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-12 col-sm-4 col-md-4">
          <div class="footer-in">
            <h4>Policies</h4>
            <ul>
              <li><a href="https://abdm.gov.in/home/terms_condition" target="_blank"><i class="fa fa-circle"></i>Terms & Conditions</a></li>
              <li><a href="https://abdm.gov.in/home/website_policy" target="_blank"><i class="fa fa-circle"></i>Website Policy</a></li>
              <li><a href="https://abdm.gov.in/documents/hdmpolicy/privacypolicy" target="_blank"><i class="fa fa-circle"></i>Data Privacy policy</a></li>
           <!--   <li><a href="https://abdm.gov.in/documents/health_management_policy" target="_blank"><i class="fa fa-circle"></i>Health Data Management policy</a></li>
              <li><a href="https://abdm.gov.in/documents/ABDM_Health_Records_PHR_mobile_application_privacy_policy" target="_blank"><i class="fa fa-circle"></i>ABDM Health Records (PHR) Mobile Application Privacy Policy</a></li>-->
            </ul>
          </div>
        </div>
  
        <!-- <div class="col-12 col-sm-6 col-md-3">
          <div class="footer-in">
            <h4>Health Records </h4>
            <div class="footer-card-in">
              <div class="footer-qr">
                <a href="https://play.google.com/store/apps/details?id=in.ndhm.phr" target="_blank"><img class="img-fluid" src="../../assets/dist/img/qr.jpg" alt=""></a>
                <a href="https://play.google.com/store/apps/details?id=in.ndhm.phr" target="_blank"><img class="img-fluid" src="../../assets/dist/img/play-store.png" alt=""></a>
              </div>
              <div class="footer-qr-text">
                <p>Health Records is a personal health viewer app from National Health Authority. This app helps the citizens to maintain their health records at one place.</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
     
    </div>
  </footer>
  <!-- footer HTML End -->

  <div class="footer-colpyright">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center footer-text">This Website belongs to National Health Authority, Ministry of Health and Family Welfare, Government of India </div>
      </div>
    </div>
  </div>