<div style="background:#0e9199;">
    <nav class="main-header navbar navbar-expand container mx-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="https://dashboard.pmjay.gov.in/" class="nav-link py-0">
                    <img style="max-width: 100px;" class="img-fluid"
                        src="assets/dist/img/national-health-authority-logo.png" alt="">
                </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse order-3 justify-content-end">
            <ul class="navbar-nav">
                
                
                
                
                <li class="nav-item">
                    <a class="nav-link" role="button" (click)="OpenLogin();">
                    <i class="fas fa-user-circle"></i> Login
                    </a>        
                </li>
            </ul>
        </div>
    </nav>
</div>









