<div style="background:#0e9199;">
    <nav class="main-header navbar navbar-expand ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link py-0">
                    <img style="max-width: 100px;" class="img-fluid"
                        src="assets/dist/img/national-health-authority-logo.png" alt="">
                </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse order-3 justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" (click)="OpenHome();" role="button">
                      <i class="fas fa-user-circle"></i> Home
                    </a>        
                  </li>
            </ul>
        </div>
    
        
    </nav>
    </div>
    <div class="content-wrapper" id="Skip-Main-Content" style="min-height: 404px;">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto mt-4">
                        <div class="my-4">
                            <div class="login-wrap">                           
                                <img class="img-fluid" src="assets/dist/img/pmjay.png" alt="">
                                <div style="color: red;" >{{invalidpwd}}</div>
                                <div class="form-group">
                                    <label>User Id</label>
                                    <i class="fas fa-mobile-alt"></i>
                                    <input type="text" class="form-input" id="userid" #userid  name="userid" (change)="keyPress($event,'U');">
                                    <div >{{userRequired}}</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <i class="fas fa-lock"></i>
                                    <input type="password" class="form-input"  #password name="password" (change)="keyPress($event,'P');">
                                    <div >{{pwdRequired}}</div>
                                </div>
                                <!--
                                <div class="form-group text-right mt-1">
                                    <a href="#" class="float-left" style="color:#026838;">Register</a>
                                    <a href="#">Forgot Password?</a>
                                </div>-->
    
                                <div class="form-group custom-btn-group text-center mt-1">
                                    <button class="btn text-white w-100 custom-btn-dark" (click)="validate(userid.value,password.value);" type="button">Sign In</button>
                                  <!--  <span>OR</span>
                                    <button class="btn btn-white w-100">Login using OTP</button>-->
                                </div>
    <!--
                                <div class="form-group mt-1">
                                    <p>By Sign In/Registration, I agree to the <a href="#">Terms of Service</a> and <a
                                            href="#">Privacy Policy</a>.</p>
                                </div>-->
                            </div>
    
                        </div>
                    </div>
    
    
                </div>
            </div>
        </section>
    </div>
    