<nav class="main-header navbar navbar-expand navbar-dark custom-bgcolor1">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link py-0">
                <img style="max-width: 100px;" class="img-fluid"
                    src="assets/dist/img/national-health-authority-logo.png" alt="">
            </a>
        </li>
    </ul>
    <div class="collapse navbar-collapse order-3 justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#Skip-Main-Content" class="nav-link">Skip To Main Content</a></li>
            &nbsp;&nbsp;<li class="nav-item">
                <a class="nav-link" routerLink="login" role="button">
                  <i class="fas fa-user-circle"></i> Login
                </a>        
              </li>
        </ul>
    </div>


    <ul class="navbar-nav ml-auto">
        <!--
        <li class="nav-item">
            <a class="nav-link" routerLink="report" role="button">
              <i class="fas fa-user-circle"></i> Reports
            </a>        
          </li>-->
        
        
           <!--
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>-->
    </ul>
    
</nav>