<div style="background:#0e9199;">
    <nav class="main-header navbar navbar-expand container mx-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link py-0">
                    <img style="max-width: 100px;" class="img-fluid"
                        src="assets/dist/img/national-health-authority-logo.png" alt="">
                </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse order-3 justify-content-end">
            <ul class="navbar-nav">
                <!--<li class="nav-item skip-content"><a href="#pmjay" class="nav-link">Skip To Main Content</a></li>-->
                <!--<li class="nav-item" id="home">
                  <a class="nav-link" id="ahome" routerLink="" role="button" (click)="home();">
                      <i ></i> Home
                    </a> 
              </li>-->
                <li class="nav-item" id="insight">
                    <a class="nav-link" id="ainsight" routerLink="" role="button" (click)="pmjayinsight();">
                        <i ></i> PMJAY Insights
                      </a> 
                </li> 
                <!--<li class="nav-item" id="cardreport">
                  <a class="nav-link" routerLink="" role="button" (click)="cardReport();">
                    <i></i> Card Report
                  </a>
  
                </li>-->
  
                <!--<li class="nav-item" id="bisreport">
                  <a class="nav-link" id="abisreport" routerLink="" role="button" (click)="bisReport();">
                    <i></i> BIS Report
                  </a>
  
                </li>-->
                
                
                <li class="nav-item" id="newcardreport">
                  <a class="nav-link" id="anewcardreport" routerLink="" role="button" (click)="newcardReport();">
                    <i></i> Drive Insights
                  </a>
  
                </li>
                <li class="nav-item" id="cghsinsights">
                  <a class="nav-link" id="cghsinsights" routerLink="" role="button" (click)="CGHSReport();">
                    <i></i> CGHS Insights
                  </a>
  
                </li>
                <li class="nav-item" id="capfinsights">
                  <a class="nav-link" id="acapfinsights" routerLink="" role="button" (click)="CAPFReport();">
                    <i></i> CAPF Insights
                  </a>
  
                </li>
                <li class="nav-item" id="logout">
  
                  <a class="nav-link" routerLink="" role="button" (click)="OpenLogout();">
                    <i class="fas fa-user-circle"></i> Logout
                  </a>
                </li>
                <!--<li class="nav-item" id="login">
  
                  <a class="nav-link" routerLink="" role="button" (click)="OpenLogin();">
                    <i class="fas fa-user-circle"></i> Login
                  </a>
                </li>-->
            </ul>
        </div>
    </nav>
  </div>