.form-radio {
    display: flex;
    margin-right: 20px;
}

.form-radio input, .form-radio label {
    display: flex;
    width: auto !important;
    margin: 0 0 0 5px !important;
}

.form-radio label{
    color: #2c2d6e;
    font-weight: 500 !important;
}

.custom-btn-outline {
    border: 1px solid #2c2d6e;
    color: #2c2d6e;
    font-weight: 600;
}