<div class="content-wrapper">
    <div class="content-header">
        <div class="container">
            <div class="head-content-wrap">
                <div class="left-content-wrap">
                    <div class="custom-title">Ayushman CAPF Scheme  </div>
                </div>
                <div class="right-content-wrap right-content-capf-wrap">
                    <div class="form-group">
                        <select class="form-control" (change)="getCAPFReport($event)">
                            <option value="">Application Type</option>
                            <option value="CAPF">CAPF PMJAY</option>
                            <option value="CGHS_CAPF">CAPF CGHS</option>
                            <option value="REIM">CAPF Reimbursement</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" (change)="getCAPFReport_Force($event)">
                            <option value="">Force Type</option>
                            <option value="BS">Border Security Force</option>
                            <option value="NS">National Security Gaurd</option>
                            <option value="CI">Central Industrial Security Force</option>
                            <option value="AR">Assam Rifles</option>
                            <option value="SS">Sashastra Seema Bal</option>
                            <option value="IT">Indo-Tibetan Border Police</option>
                            <option value="CR">Cenral Reserve Police Force</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="cghs-wrapper pb-3">
  <div class="container">
      
      <form action="">
          <div class="cghs-form-wrap">
              <div class="cghs-form">
                  <label for="">State</label>
                  <select id="ddlState_CAPF" (change)="bindDistrict($event)" class="form-control" >
                      <option value="">All</option>
                      <option *ngFor="let st of stateList"   value={{st.value}} >
                          {{st.text}}
                          </option>
                  </select>
              </div>
              <div class="cghs-form">
                  <label for="">District</label>
                  <select id="ddlDistrict_CAPF" (change)="bindHosp($event)" class="form-control">
                      <option value="">All</option>
                      <option *ngFor="let st of districtlist"  value={{st.value}} >
                          {{st.text}}
                          </option>
                  </select>
              </div>
              <div class="cghs-form">
                  <label for="">Hospital Name</label>
                 
                  <select id="ddlHosp_CAPF" class="form-control" (change)="selectHosp($event)">
                      <option value="">All</option>
                      <option *ngFor="let st of hosplist"  value={{st.value}} >
                          {{st.text}} 
                          </option>
                  </select>
               
              </div>
              <div class="cghs-form-btn">

                  <button class="btn btn-primary" (click)="getReport();">Search</button>
              </div>
          </div>
          <div class="text-right subtitle mb-0">Last Updated : {{uploadDate}}</div>
          <!--<div class="text-right"><a href="#"></a></div>-->
      </form>
  </div>

  <div class="container">
      <div class="cghs-dashboard-wrap" style="background: none;">
          <!--<div class="cghs-dashboard cghs-dashboard-one">
              <label>Preauths Submitted </label>
              <div class="cghs-dashboard-in">
                  <span>Count</span>
                  <strong>{{preauth_sub_count}}</strong>
              </div>
              <div class="cghs-dashboard-in">
                  <span>Amount</span>
                  <strong>{{preauth_sub_amount}}</strong>
              </div>
          </div>-->



          <div class="cghs-dashboard cghs-dashboard-three">
              <label>Claims Received </label><!--<a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>-->
              <div class="cghs-dashboard-in">
                  <span>Count</span>
                  <strong>{{claim_sub_count}}</strong>
              </div>
              <div class="cghs-dashboard-in">
                  <span>Amount</span>
                  <strong>{{this.getToCR(claim_sub_amount)}}</strong>
              </div>
          </div>
          
          <div class="cghs-dashboard cghs-dashboard-four">
            <label>Pending at Hospitals & Beneficiaries </label>
            <div class="cghs-dashboard-in">
                <span>Count</span>
                <strong>{{pending_hcos_count}}</strong>
            </div>
            <div class="cghs-dashboard-in">
                <span>Amount</span>
                <strong>{{this.getToCR(pending_hcos_amount)}}</strong>
            </div>
        </div>

          <div class="cghs-dashboard cghs-dashboard-four">
              <label>Pending at NHA </label>
              <div class="cghs-dashboard-in">
                  <span>Count</span>
                  <strong>{{pending_nha_count}}</strong>
              </div>
              <div class="cghs-dashboard-in">
                  <span>Amount</span>
                  <strong>{{this.getToCR(pending_nha_amount)}}</strong>
              </div>
          </div>
          <div class="cghs-dashboard cghs-dashboard-two">
            <label>Pending at DM </label>
            <div class="cghs-dashboard-in">
                <span>Count</span>
                <strong>{{dm_pending}}</strong>
            </div>
           <div class="cghs-dashboard-in">
                <span>Amount</span>
                <strong>{{this.getToCR(dm_amount)}}</strong>
            </div>
        </div>
          <div class="cghs-dashboard cghs-dashboard-five">
              <label>Pending at SA </label>
              <div class="cghs-dashboard-in">
                  <span>Count</span>
                  <strong>{{pending_cghs_count}}</strong>
              </div>
              <div class="cghs-dashboard-in">
                  <span>Amount</span>
                  <strong>{{this.getToCR(pending_cghs_amount)}}</strong>
              </div>
          </div>

          <!--<div class="cghs-dashboard cghs-dashboard-six">
              <label>Pending at PFMS <span class="fa fa-info-circle chartInfoMsg" title="Pending at DDO and PAO"></span></label>
              <div class="cghs-dashboard-in">
                  <span>Count</span>
                  <strong>{{pending_pfms_count}}</strong>
              </div>
              <div class="cghs-dashboard-in">
                  <span>Amount</span>
                  <strong>{{this.getToCR(pending_pfms_amount)}}</strong>
              </div>
          </div>-->
          <div class="cghs-dashboard cghs-dashboard-six">
            <label>Pending at PFMS </label>
            <div class="cghs-dashboard-in">
                <span>Count</span>
                <strong>{{pending_pfms_count}}</strong>
            </div>
            <div class="cghs-dashboard-in">
                <span>Amount</span>
                <strong>{{this.getToCR(pending_pfms_amount)}}</strong>
            </div>
        </div>
        <div class="cghs-dashboard cghs-dashboard-seven">
            <label>Pending at Bank </label>
            <div class="cghs-dashboard-in">
                <span>Count</span>
                <strong>{{bank_pending}}</strong>
            </div>
            <div class="cghs-dashboard-in">
                <span>Amount</span>
                <strong>{{this.getToCR(bank_pending_amount)}}</strong>
            </div>
        </div>
        <div class="cghs-dashboard cghs-dashboard-eight">
            <label>Rejected </label>
            <div class="cghs-dashboard-in">
                <span>Count</span>
                <strong>{{bank_rejected}}</strong>
            </div>
            <div class="cghs-dashboard-in">
                <span>Amount</span>
                <strong>{{this.getToCR(bank_rejected_amount)}}</strong>
            </div>
        </div>
          <div class="cghs-dashboard cghs-dashboard-seven">

             <!--<div class="authorizehsop-togg paidamount-togg">
                    <label class="d-block"><a href="javascript:void(0);" class="fa fa-info-circle tool" style="color: #e17474;margin-left: 15px;" (click)="tooltipOpen('divCP');" ></a>                    
                        <div class="tooltip-wrapper tooltippaid-wrapper" id="divCP">
                            <a href="javascript:void(0);" (click)="tooltipClose('divCP');"><i class="fa fa-times tooltip-close"></i></a>
                            These are the bills which have been paid
                        </div>
                    </label>

                    <label class="d-block" style="position: relative; top: -20px; right: -85px;"><a href="javascript:void(0);" class="fa fa-info-circle tool" style="color: #e17474;margin-left: 15px;" (click)="tooltipOpen('divCPTDA');" ></a>                    
                        <div class="tooltip-wrapper" style="right: 70px;" id="divCPTDA">
                            <a href="javascript:void(0);" (click)="tooltipClose('divCPTDA');"><i class="fa fa-times tooltip-close"></i></a>
                            These are the bills which have been deducted from processed and paid bills
                        </div>
                    </label>
                    
                     <button style="position: relative; top: -23px;" type="button" id="paid" data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-lg btn-toggle my-0" (click)="onPaidTogg('paid')"><div class="handle"></div></button>
                     
                </div>-->
                <label>Calim Paid </label>
              <div class="cghs-dashboard-in">
                  <span>Count</span>
                  <strong>{{claim_paid_count}}</strong>
              </div>
              <div class="cghs-dashboard-in">
                  <span>Amount</span>
                  <strong>{{this.getToCR(claim_paid_amount)}}</strong>
              </div>
          </div>

          

      </div>
  </div>


  <!--<div class="container my-3">
      <div class="trend-wrap" style="background: #fff;">
          <div class="trend-box-head">
              <div class="leftSpeciality">
                  <h3 class="card-title">{{statedatehospwise}} Wise Trends - Claims<span style="font-size: 12px;" id="STLac_CAPF"> (in Lac)</span></h3>
              </div>
              <div class="text-right right-tabs">
                  <div class="time-wrap" style="display: inline-block;">
                     
                  </div>
                  <div class="rightSpeciality">
                      <button type="button" id="CAPF_statewise" data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-lg btn-toggle my-0" (click)="onToggle('CAPF_statewise')"><div class="handle"></div></button>
                  </div>
              </div>
              <div class="card-body pt-0" id="capf_chartstatewise">

              <div class="chart" >
                  <canvas #CGHSSTDChart style="min-height: 350px; height: 350px; max-height: 350px; min-width: 100%;"></canvas>
                </div>
              </div>
              <div class="card mb-0 treatment-table my-2" id="cpaf_tblstatewisecount">
              <div class="card-body p-0">
                  <div class="table-responsive">
                  <table id="capfstatewisecount" class="row-border hover">
                      <thead>
                          <tr>
                            <th style="text-align: center;">S.No.</th>
                            <th style="text-align: center;">Hospital Name</th>
                            
                           
                            <th style="text-align: right;">Claims Received</th>
                            <th style="text-align: right;">Pending at NHA</th>
                            <th style="text-align: right;">Pending at DM</th>
                            <th style="text-align: right;">Pending at SHA</th>
                            
                            <th style="text-align: right;">Claims Paid</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let group of cghsstatewise;let i =index">
                              <td style="text-align: center;">
                                  {{i+1}}
                              </td>
                              <td style="text-align: left;">{{group.state_name}}</td>
                            
                           
                            <td style="text-align: right;">{{this.getCommaValue(group.claim_sub_count)}}</td>
                            <td style="text-align: right;">{{this.getCommaValue(group.pending_nha_count)}}</td>
                            <td style="text-align: right;">{{this.getCommaValue(group.pending_hcos_count)}}</td>
                            <td style="text-align: right;">{{this.getCommaValue(group.pending_cghs_count)}}</td>
                           
                            <td style="text-align: right;">{{this.getCommaValue(group.claim_paid_count)}}</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>
              </div>
              <div class="card mb-0 treatment-table my-2" id="capf_tblstatewiseamount">
                  <div class="card-body p-0">
                      <div class="table-responsive">
                      <table id="capfstatewiseamount" class="row-border hover">
                          <thead>
                              <tr>
                                <th style="text-align: center;">S.No.</th>
                                <th style="text-align: center;">Hospital Name</th>

                                
                                <th style="text-align: right;">Claims Received</th>
                                <th style="text-align: right;">Pending at NHA</th>
                                <th style="text-align: right;">Pending at HCOs</th>
                                <th style="text-align: right;">Pending at SHA</th>
                                
                                <th style="text-align: right;">Claims Paid</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let group of cghsstatewise;let i =index">
                                  <td style="text-align: center;">
                                      {{i+1}}
                                  </td>
                                  <td style="text-align: left;">{{group.state_name}}</td>

                                
                                <td style="text-align: right;">{{this.getLac(group.claim_sub_amount)}}</td>
                                <td style="text-align: right;">{{this.getLac(group.pending_nha_amount)}}</td>
                                <td style="text-align: right;">{{this.getLac(group.pending_hcos_amount)}}</td>
                                <td style="text-align: right;">{{this.getLac(group.pending_cghs_amount)}}</td>
                                
                                <td style="text-align: right;">{{this.getLac(group.claim_paid_amount)}}</td>
                              </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
                  </div>
          </div>
      </div>
  </div>-->
  <div class="container my-3">
      <div class="trend-wrap" style="background:none;padding: 0;">
          <div class="trend-box-head">
              <div class="leftSpeciality">
                  <h3 class="card-title">Summary of Claims at Various Levels<span style="font-size: 12px;" id="CLSummaryCR_CAPF"> (in Cr)</span></h3>
              </div>
              <div class="text-right right-tabs">
                  <div class="time-wrap" style="display: inline-block;">
                      <!--<a href="javascript:void(0);" id="HETDW">Week</a> | <a href="javascript:void(0);" id="HETDT" class="active">Last 30 Days</a> | <a href="javascript:void(0);" id="HETDA">All</a>-->
                  </div>
                  <div class="rightSpeciality">
                      <button type="button" id="CAPF_togguserdata" data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-lg btn-toggle my-0" (click)="onToggle('CAPF_togguserdata')"><div class="handle"></div></button>
                  </div>
              </div>

              <div class="card mb-0 treatment-table my-3" id="capfuserdatacount">
              <div class="card-body p-0">
                  <div class="table-responsive">
                  <table id="capfuserdata" class="row-border hover">
                      <thead>
                          <tr>
                            <th style="text-align: center;">Level</th>
                            <th style="text-align: right;">Received</th>

                            <th style="text-align: right;">Approved</th>
                            <th style="text-align: right;">Rejected</th>
                            <th style="text-align: right;">Queried</th>
                            <th style="text-align: right;">Pending</th>
                            <!--<th style="text-align: center;">Returned Pending</th>-->

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let group of cghsuserdata;let i =index">

                              <td style="text-align: center;">{{group.user_name}}</td>

                              <td style="text-align: right;">{{this.getCommaValue(group.received_count)}}</td>
                            <td style="text-align: right;">{{this.getCommaValue(group.approved_count)}}</td>
                            <td style="text-align: right;">{{this.getCommaValue(group.rejected_count)}}</td>
                            <td style="text-align: right;">{{this.getCommaValue(group.queried_count)}}</td>
                            <td style="text-align: right;">{{this.getCommaValue(group.pending_count)}}</td>
                            <!--<td style="text-align: right;">{{this.getCommaValue(group.returned_pending_count)}}</td>-->
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>
              </div>
              <div class="card mb-0 treatment-table my-3" id="capfuserdataamount">
                  <div class="card-body p-0">
                      <div class="table-responsive">
                      <table id="capfuserdata" class="row-border hover">
                         <thead>
                              <tr>
                                <th style="text-align: center;">Level</th>
                                <th style="text-align: right;">Received</th>
                                <th style="text-align: right;">Approved</th>
                                <th style="text-align: right;">Rejected</th>
                                <th style="text-align: right;">Queried</th>
                                <th style="text-align: right;">Pending</th>


                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let group of cghsuserdata;let i =index">

                                  <td style="text-align: center;">{{group.user_name}}</td>
                                  <td style="text-align: right;">{{this.getCR(group.received_amount)}}</td>
                                <td style="text-align: right;">{{this.getCR(group.approved_amount)}}</td>
                                <td style="text-align: right;">{{this.getCR(group.rejected_amount)}}</td>
                                <td style="text-align: right;">{{this.getCR(group.queried_amount)}}</td>
                                <td style="text-align: right;">{{this.getCR(group.pending_amount)}}</td>

                              </tr>
                        </tbody>
                      </table>
                      
                  </div>
                  
                </div>
                  </div>
          </div>
      </div>
      <p style="font-style: italic;">*It includes 1,44,314 cases worth 104.5 Cr paid directly through bank before PFMS integration</p>
  </div>

  <!--<div class="container my-3">
      <div class="trend-wrap" style="background: #fff;">
          <div class="trend-box-head">
              <div class="leftSpeciality">
                  <h3 class="card-title">Summary of Claims - State Wise</h3>
              </div>
              <div class="text-right right-tabs">
                  <div class="time-wrap" style="display: inline-block;">
                    
                  </div>
                  <div class="rightSpeciality">
                      <button type="button" id="CAPF_levelcalimsummary" data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-lg btn-toggle my-0" (click)="onToggle('CAPF_levelcalimsummary')"><div class="handle"></div></button>
                  </div>
              </div>
              <div class="card-body pt-0" >
              <div class="chart" >
                  <canvas #CGHSCSSChart style="min-height: 350px; height: 350px; max-height: 350px; min-width: 100%;"></canvas>
                </div>
              </div>
          </div>
      </div>
  </div>-->


  <!--<div class="container my-3">
      <div class="trend-wrap" style="background: #fff;">
          <div class="trend-box-head">
              <div class="leftSpeciality">
                  <h3 class="card-title">Claims Date Wise Pending Trends</h3>
              </div>
              <div class="text-right right-tabs">
                  <div class="time-wrap" style="display: inline-block;">
                      <a href="javascript:void(0);" id="CGHSTDW" (click)="CGHSTDclickme('W')">Week</a> | <a href="javascript:void(0);" id="CGHSTDT" class="active" (click)="CGHSTDclickme('T')">Last 30 Days</a> | <a href="javascript:void(0);" id="CGHSTDA" (click)="CGHSTDclickme('A')">All</a>
                  </div>
                  <div class="rightSpeciality">
                      <button type="button" id="datewise" data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-lg btn-toggle my-0" (click)="onToggle('datewise')"><div class="handle"></div></button>
                  </div>
              </div>
              <div class="card-body pt-0" >
              <div class="chart" >
                  <canvas #CGHSDTDChart style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                </div>
              </div>
          </div>
      </div>
  </div>-->

  <!--<div class="container my-3">
      <div class="trend-wrap" style="background: #fff;">
          <div class="trend-box-head">
              <div class="leftSpeciality">
                  <h3 class="card-title">Date Wise Level Trends
                      <select style="border: none; font-size: .875rem; color: #485ab8; outline: 0;" (change)="getLevel($event)">
                          <option value="NHA" selected="true">NHA</option>
                          <option value="DM" >DM</option>
                          <option value="SHA">SHA</option>

                      </select>
                  </h3>
              </div>
              <div class="text-right right-tabs">
                  <div class="time-wrap" style="display: inline-block;">
                      <a href="javascript:void(0);" id="CGHSLDTDW" (click)="CGHSLDTDclickme('W')">Week</a> | <a href="javascript:void(0);" id="CGHSLDTDT" class="active" (click)="CGHSLDTDclickme('T')">Last 30 Days</a> 
                  </div>
                  <div class="rightSpeciality">
                      <button type="button" id="CAPF_CGHSLDTD" data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-lg btn-toggle my-0" (click)="onToggle('CAPF_CGHSLDTD')"><div class="handle"></div></button>
                  </div>
              </div>
              <div class="card-body pt-0" >
              <div class="chart" >
                  <canvas #CGHSLDTDChart style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                </div>
              </div>
          </div>
      </div>
  </div>-->

  <div class="container mt-3 mb-0">
    <div class="trend-wrap" style="background:none;padding: 0;">
        <div class="trend-box-head">
            <div class="d-flex align-items-center">
                <div class="leftSpeciality">
                    <h3 class="card-title">CAPF BIS Dashboard</h3>
                </div>

                <div class="right-content-wrap right-content-capf-wrap">
                    <div class="form-group">
                        <select class="form-control" style="max-width:150px;" id="ddlforcetype" [(ngModel)]="ddlforcetype" (change)="onForceChange()">
                            <option value="">Force Type</option>
                            <option value="BS">Border Security Force</option>
                            <option value="NS">National Security Gaurd</option>
                            <option value="CI">Central Industrial Security Force</option>
                            <option value="AR">Assam Rifles</option>
                            <option value="SS">Sashastra Seema Bal</option>
                            <option value="IT">Indo-Tibetan Border Police</option>
                            <option value="CR">Cenral Reserve Police Force</option>
                            <option value="OT">Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" style="max-width:150px;" id="ddlunittype" [(ngModel)]="ddlunittype" (change)="onStateChange()">
                            <option value="" >Unit Type</option>
                            <option *ngFor="let st of unittypeList"  value={{st.value}}>
                            {{st.text}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" style="max-width:150px;" id="ddlmembertype" [(ngModel)]="ddlmembertype" (change)="onStateChange()">
                            <option value="" selected="selected">Member Type</option>
                            <option *ngFor="let st of membertypeList"  value={{st.value}}>
                            {{st.text}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-top: 4px; margin-left: 1rem; color: #7d7e1c;">
                        Aadhaar verified card percentage : <strong> {{CAPF_Aadhaar_Ver_per}} </strong>
                        </div>
                </div>
            </div>
            <div class="card mb-0 treatment-table my-3" id="capfbisdata">
            <div class="card-body p-0">
                <div class="table-responsive">
                <table id="capfbisdata" class="row-border hover">
                    <thead>
                        <tr>
                          <th style="text-align: left;">Force Type</th>
                          <th style="text-align: right;">Beneficiaries with eligibility flag ‘Yes’</th>

                          <th style="text-align: right;">Number of PMJAY ID's assigned</th>
                          <th style="text-align: right;">Number of Approved Card</th>
                          <th style="text-align: right;">Number of Non eKYC</th>
                          <th style="text-align: right;">Pendency at L1 Level</th>
                          <th style="text-align: right;">Pendency at L2 Level</th>
                          <!--<th style="text-align: center;">Returned Pending</th>-->

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let group of capfbisdata;let i =index">

                            <td style="text-align: left;">{{this.getForceTypeName(group.force_type)}}</td>

                            <td style="text-align: right;">{{this.getCommaValue(group.total_ben)}}</td>
                          <td style="text-align: right;">{{this.getCommaValue(group.total_pmj_Id)}}</td>
                          <td style="text-align: right;">{{this.getCommaValue(group.total_approved_card)}}</td>
                          <td style="text-align: right;">{{this.getCommaValue(group.total_rejected_card)}}</td>
                          <td style="text-align: right;">{{this.getCommaValue(group.total_pending_L1)}}</td>
                          <td style="text-align: right;">{{this.getCommaValue(group.total_pending_L2)}}</td>
                          <!--<td style="text-align: right;">{{this.getCommaValue(group.returned_pending_count)}}</td>-->
                        </tr>
                  </tbody>
                </table>
            </div>
          </div>
            </div>
            
        </div>
    </div>
</div>
</div>

</div>